*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.packages{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}
.package{
    padding: 15px;
    width: calc(100% / 3);
}
